.events-card {
    width: 80%;
    height: 40rem;

    display: grid;
    grid-template-columns: 2fr 6fr;
}

@container card (width < 300px) {
    .events-card {
        display: grid;
        grid-template-columns: 1fr;
    }
}