a.sidebar-link {
    display: flex;
    align-items: center;

    text-decoration: inherit;
    color: inherit;

    padding: 1rem;
    padding-left: 2.5rem;

    font-size: 24px;
    font-weight: 600;
    color: #475569;

    &:hover {
        background-color: #F6F6F6;
    }

    &.link-active {
        background-color: #E4E4E4;
    }
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}