.time-display {
    align-self: stretch;
    align-content: center;
    white-space: nowrap;

    margin-right: 10px;
    text-align: center;
    color: #FFFFFF;

    background-color: #484848;
    border-radius: var(--bs-accordion-border-radius) 0px 0px var(--bs-accordion-border-radius);
    padding: 5px;
}

.time-display > h6 {
    margin: 0;
}

.time-display > h4 {
    margin: 0;
}

.accordion-button {
    padding: 0 !important; 
    padding-right: var(--bs-accordion-btn-padding-y) !important;
}

.event-detailed-info {
    margin: 0px 10px 0px 10px;
}
.event-detailed-info > p {
    margin: 0;
}