VITE__DOMAIN_URL="http://localhost:8000"        # URL where fetch sends requests to, for `.env` leave it as localhost and for `.env.production` use your domain name without trailing slash AND with www. in the beginning
VITE__JWT_COOKIE_NAME="__Host-session-jwt"      # cookie name for the JWT token, leave it as is OR change it in other microservices so that it matches up with the frontend
VITE__CREDENTIALS_SETTING="include"             # setting for fetch to include credentials, leave it as is