.input-with-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    position: relative;

}
.input-with-icon > input {
    padding-right: 2rem;
}

.icon {
    color: var(--color-icons);
    position: absolute;
    right: 1rem;
}