<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>Events Organiser - Login error</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    </head>
    <body>
        <div class="header-flexbox">
            <div class="header">
                <h1>Events Organiser</h1>
                <span>You need to log in to use this application</span>
            </div>
            <div class="login-btns">
                <button class="ms" onclick="window.location.href='{{ auth_uri }}';">
                    <img src="{{ url_for('static', filename='svg/ms-symbollockup_mssymbol_19.svg') }}" />
                    <strong style="margin-left: 10px;">Log in with Microsoft</strong>
                </button>
            </div>
        </div>
    </body>
</html>