<VirtualHost *:80>
#    ServerName proxy.{{ fqdn }}
    # ServerName sets the name to listen for with requests
    ErrorLog /var/log/httpd/events.{{ fqdn }}-error_log
    CustomLog /var/log/httpd/events.{{ fqdn }}-access_log common
    ForensicLog /var/log/httpd/events.{{ fqdn }}-forensic.log

    ProxyPreserveHost On

    ProxyPass / http://localhost:5000/
    ProxyPassReverse / http://localhost:5000/
</VirtualHost>

#<VirtualHost *:443>
#    ServerName events.{{ fqdn }}
    # ServerName sets the name to listen for with requests
#    ErrorLog /var/log/httpd/events.{{ fqdn }}-error_log
#    CustomLog /var/log/httpd/events.{{ fqdn }}-access_log common
#    ForensicLog /var/log/httpd/events.{{ fqdn }}-forensic.log

#    SSLEngine on
#    SSLCertificateFile /etc/pki/tls/certs/events.crt
#    SSLCertificateKeyFile /etc/pki/tls/private/events.key
#    SSLCACertificateFile /etc/pki/tls/certs/cacert.crt

#    ProxyPreserveHost On

#    ProxyPass / http://localhost:5000/
#    ProxyPassReverse / http://localhost:5000/
#</VirtualHost>
